head
  title My Site
  link(rel="stylesheet" href="mdl/material.min.css")
  script(src="mdl/material.min.js")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/socket.io-client/dist/socket.io.js')
  script(src='socket.js') 
