<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Alerta de nuevo choque</h4>
    <div class="mdl-dialog__content">
      <p>
        Se ha registro un nuevo accidente! Verificar informaci0&acute;n!
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Verificar Accidente</button>
    </div>
  </dialog>
