<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Accidentes</th>
      <th>PLACA VEHICULO</th>
      <th>FECHA</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < accidentes.length; i++) { %>
      <tr>
	<td class="mdl-data-table__cell--non-numeric"><%= accidentes[i].idvehiculo %></td>
	<td class="mdl-data-table__cell--non-numeric"><%= accidentes[i].fecha %></td>
      </tr>
    <% } %>
  </tbody>
</table>
